/* Smaller Screens ( < 1000px )*/
.header img {
    display: block;
}

.header.wideNav {
    display: none;
}

/* Wider Screen ( > 999px )*/
@media (min-width: 999px) {
    .header img {
        display: none;
    }
    .header.wideNav {
        display: block;
    }
}